<html>
    <head>
        <title>Rajat's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/"><marquee>Welcome to my blog !!!</marquee></a></h1>
        </div>

        <div>
            
            <h2><a href="">ABOUT ME</a></h2>
            <p> Hello ! everyone . This is Rajat Kumar Lathwal , a computer science undergraduate  pursuing his engineering from Maulana Azad National Institute Of Technology,Bhopal . Here's a link to my college website in case you wish to visit :p</br><a href="http://www.manit.ac.in/">MANIT,Bhopal</a>
         </p>
        </div>

        <div>
            
            <h2><a href=""></a></h2>
            <p>This is my first blog and I am obviously not a pro at blogging ! So, any of you , who has any suggestion is cordially welcome . Feel free to contact me !!! </p>
        </div>
	<div>
		{% for post in posts %}
		   <div>
			</br><p>published: {{ post.published_date }}</p>
			<h3><a href="">{{ post.title }}</a></h3>
			<p>{{ post.text|linebreaksbr }}</p>
		   </div>
		{% endfor %}
	</div>
    </body>
</html>
